* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

#resume_container {
    display:flex;
    font-family: 'Nanum Gothic', sans-serif;
    color: dimgray; 
    background-color: whitesmoke;
}

.navbar {
    width: 20vw;
    height: 100vh;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius:50%;
    border: 6px solid whitesmoke;
    margin-bottom: 2vw;
}

.resume_links {
    list-style-type: none;
}

.resume_link {
    font-size: 19px;
    font-weight: bolder;
    padding: 12px 0px;
}

.resume_links a{
    color:white;
}

.resume_sections {
    width: 80vw;
    height: 100vh;
    overflow: scroll;
}

.resume_section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.name_highlight{
    color:rgb(44, 44, 44)
}

.mail_desc{
    font-size:30px;
    margin-bottom: 20px;
    color: rgb(0, 68, 0);
}

.resume_detail_desc{
    font-size: 20px;
    line-height: 30px;
}

.resume_icons{
    margin-top: 30px;
    list-style-type: none;
    display: flex;
}

.resume_icons img{
    height: 80px;
    /* height: 80px; */
}

h1.section_title{
    font-size:96px;
    font-weight: bolder;
    margin-bottom:20px;
}

h2.section_title{
    font-size:60px;
    font-weight: bold;
    margin-bottom:20px;
    color: rgb(44, 44, 44);
}

.exp_subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sub_section h3{
    font-size: 30px;
    font-weight:bolder;
}